html,
body {
  padding: 0;
  margin: 0;

  background-color: #eeeeee;
}

h1, h2, h3, h4, h5, h6, label, input {
  
  font-family: 'Avenir', 'Helvetica', 'Arial', sans-serif;
}

#app {
  text-align: center;
  font-family: 'Avenir', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

input {
  margin: 5px;
}

#app input {
  border-width: 2px;
  border-color: #2c3e50;
  border-radius: 1em;
  background-color: #f6f6f6;
}

#text-or-img:checked ~ #img-container {
  display: none;
}

#text-or-img:not(:checked) ~ #text-container {
  display: none;
}

#app input[type='text'] {
  width: 30vw;
  height: 40vh;
}

#app input[type='submit'] {
  width: 12em;
  height: 4em;
}

#img-answer {
  display: none;
}

#text_question {
  padding: 15px;
}